.tabs-container {
    /* max-width: 600px; */
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

.tabs-container h1 {
    font-size: 32px;
    font-weight: bolder;
}

.tab-buttons {
    display: flex;
    gap: 4px;
    margin-top: 14px;
}

.tab-buttons button {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background-color: #f1f1f1;
    border-radius: 10px 10px 0px 0px;
    transition: background-color 0.3s;
}

.tab-buttons button:hover {
    color: white;
    background-color: #007bff;
}

.tab-buttons .active {
    font-weight: bold;
    background-color: #007bff;
    color: white;
}

.tab-content {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 0px 0px 10px 10px;
    background-color: #f9f9f9;
}

.tab-content h2 {
    margin-top: 0;
    font-weight: bold;
    font-size: 24px;
}

.tab-content p {
    margin: 5px 0 0;
}

.main-agileinfo
{
    background-color: #76b852;
}
.shorten-button
{
    background-color: #c7cec3 !important ;
}

.header-info{
display: flex;
justify-content: space-between;
align-content: center;
}
.username
{
    text-transform: uppercase;
    text-decoration: underline;
}